{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<link href={% static 'core/css/login.css' %} rel="stylesheet">
<style>
  .bottom-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: white;
    text-shadow: 2px 2px 2px #000;
}
</style>
<script>
  function validateForm() {
      var checkbox = document.getElementById("termsCheckbox");
      if (!checkbox.checked) {
          alert("Debes aceptar los términos y condiciones.");
          return false;
      }
      return true;
  }
</script>
<section>
  <div class="form-box">
      <div class="form-value">
          <form class="formLogin" action="" method="post" onsubmit="return validateForm()">
              {% csrf_token %}
              <p></p>
              <h2>PNP Social</h2>
              <div class="inputbox">
                  <ion-icon name="mail-outline"></ion-icon>
                  <input name="username" id="exampleInputEmail1" type="text" required>
                  <label for="">CIP</label>
              </div>
              <div class="inputbox">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  <input name="password" id="togglePassword" type="password" required>
                  <label for="">Contraseña</label>
              </div>
              <div class="forget">
                <label for=""><input type="checkbox" id="termsCheckbox"> Acepto términos y condiciones 👍</label>
              </div>
              <button type="submit">Ingresar</button>
          </form>
      </div>
  </div>
  <div class="bottom-text">
    <p>
      <img src={% static 'core/images/logoPnp.png' %} alt="LogoPnp" width="35" height="35">
      Policia Nacional del Perú, Derechos reservados ©</p>
  </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>





  {% endblock %}