<!doctype html>
<html lang="es" class="h-100">

{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seguridad Nacional</title>
  <link href={% static 'core/css/bootstrap.min.css' %} rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href={% static 'core/css/loginStyle.css' %} rel="stylesheet">
  <link href={% static 'core/css/register.css' %} rel="stylesheet">
  <link href={% static 'core/css/home.css' %} rel="stylesheet">
  <script src={% static 'core/js/register.js' %} defer></script>
  <script src={% static 'core/js/registerGremio.js' %} ></script>
  <script defer>
    function toggleInputType() {
            var passwordInput = document.getElementById('togglePassword');
            
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }
</script>
<link href={% static 'core/css/base.css' %} rel="stylesheet">
</head>

<body>

<div class="contentBase">
  {% if request.user.is_authenticated %}
  <header class="header">
    <div class="header-contentLogo">
      <figure>
        <img src={% static 'core/images/logoPnp.png' %} alt="" width="100" height="130">
      </figure>
      <h3 class="">Seguridad Nacional</h3>
    </div>
    <nav class="header-contentNav">
        <a href={% url 'home' %}>Inicio</a>
        <a href={% url 'register' %}>Registra reporte</a>
        <a href={% url 'analize' %}>Fuentes </a> 
        <a href={% url 'analize' %}>Power Bi </a> 
        <a href={% url 'exit' %}>Cerrar Sesion</a>
    </nav>
    
  </header>
  {% else %}
        
  {% endif %}

  {% block content %}{% endblock %}
  {% if request.user.is_authenticated %}

  {% else %}
        
  {% endif %}
</div>
  </body>
</html>
