{% extends 'core/base.html' %}

{% load static %}
{% block content %}
  <main class="contentInicio">

    {% if request.user.is_authenticated %}
      <div class="container">
        <div class="search">
          <form action="" class="searchForm"> 
            <input type="text" class="inputSearch" placeholder="BUSCAR">
            <button type="submit" class="btnSearch">
              <figure>
                <img src={% static 'core/images/lupa.png' %} alt="">
              </figure>
            </button>
          </form>
        </div>
        <div class="Optionsearch">
          <div>
            <button id="btnBuscarEvento" onclick="BuscarEvento()">Evento</button>
          </div>
          <div>
            <button id="btnBuscarGremio" onclick="BuscarGremio()">Gremio</button>
          </div>
          <div>
            <button id="btnBuscarPersona" onclick="BuascarPersona()">Persona</button>
          </div>
        </div>
        <div class="contentTable">
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th>N°</th>
                          <th>Ruc</th>
                          <th>Secretario</th>
                          <th>Dirigente</th>
                          <th>Presidente</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for r in persona %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ r.DNI }}</td>
                          <td>{{ r.Fecha_Nacimiento }}</td>
                          <td>{{ r.Sexo }}</td>
                          <td>{{ r.Domicilio}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
      
      </div>

    {% else %}

    {% endif %}

  </main>
{% endblock %}