{% extends 'core/base.html' %}

{% load static %}
{% block content %}
  <main class="contentInicio">

    {% if request.user.is_authenticated %}
      <div class="container">
        
        <div class="search">
          <form action="buscar/" id="buscador" class="searchForm">
            {% csrf_token %}
            <input id="OpcionSearch" name="opcionBuscar" type="hidden" value="Evento">
            <input type="text" name="textBuscar" class="inputSearch" placeholder="BUSCAR">
            <button type="submit" class="btnSearch">
              <figure>
                <img src={% static 'core/images/lupa.png' %} alt="">
              </figure>
            </button>
          </form>
        </div>
        <div class="Optionsearch">
          <div>
            <button class="optionBtnSearch" id="btnBuscarEvento" >Evento</button>
          </div>
          <div>
            <button class="optionBtnSearch" id="btnBuscarGremio" >Gremio</button>
          </div>
          <div>
            <button class="optionBtnSearch" id="btnBuscarPersona" >Persona</button>
          </div>
        </div>
        <div class="contentTable">
          <div class="table-responsive">
              <table class="table">
                  <thead id="head">
                  </thead>
                  <tbody id="body" >
                  </tbody>
              </table>
          </div>
      </div>
      
      </div>

    {% else %}

    {% endif %}

  </main>
{% endblock %}