{% extends 'core/base.html' %}
{% block content %}
  <main class="contentRegisterEvents">
      <aside class="RegisterEvents-TipesRegisters">
        <ul class="TipeRegister-List nav nav-tabs card-header-tabs">
          <li class="ItemRegister nav-item">Registrar evento</li>
          <li class="ItemRegister nav-item">Registrar Gremio</li>
          <li class="ItemRegister nav-item">Registrar Persona</li>
          <li class="ItemRegister nav-item">Registrar Cuadros</li>
        </ul>
      </aside>
      <div>
        <!--SECCION PARA EVENTO-->
        <section class="RegisterEvent-Forms" id="R-Events">
          <div class="Content-FormMain">
            <form class="FormMain" action="registrar/" method="POST">
              {% csrf_token %}
              <div class="FormMain-List">
                <ul class="List-Fields">
                  <li  class="ItemFields">Aspecto</li>
                  <li  class="ItemFields">Ubicacion</li>
                  <li  class="ItemFields">Fecha</li>
                  <li  class="ItemFields">Organizacion</li>
                  <li  class="ItemFields">Dirigente</li>
                  <li  class="ItemFields">Tipo de medida</li>
                </ul>
              </div>
              <div class=Main>
                <div id="Aspect" class="Fields contentAspect">
                  <label>
                    <input type="radio" name="opcion" value="opcion1"> Opción 1
                  </label><br>
                <label>
                    <input type="radio" name="opcion" value="opcion2"> Opción 2
                  </label><br>
                  <label>
                    <input type="radio" name="opcion" value="opcion3"> Opción 3
                  </label><br>
                  <label>
                    <input type="radio" name="opcion" value="opcion4"> Opción 4
                  </label><br>
                  <label>
                    <input type="radio" name="opcion" value="opcion5"> Opción 5
                  </label><br>
                </div>
                <div id="Ubication" class="Fields contentUbication">
                  <label for="departamento">Departamento:</label>
                  <input type="text" id="departamento" name="departamento" placeholder="Ingresa el departamento">
          
                  <label for="provincia">Provincia:</label>
                  <input type="text" id="provincia" name="provincia" placeholder="Ingresa la provincia">

                  <label for="distrito">Distrito:</label>
                  <input type="text" id="distrito" name="distrito" placeholder="Ingresa el distrito">
                </div>
                <div id="Date" class="Fields contentFecha">
                  <label for="fecha_inicio">Fecha de inicio:</label>
                  <input type="date" id="fecha_inicio" name="fecha_inicio">
      
                  <label for="fecha_termino">Fecha de término:</label>
                  <input type="date" id="fecha_termino" name="fecha_termino">
                </div>
                <div id="Organization" class="Fields contentOrganization">
                  AQUI LAS ORGANIZACIONES
                </div>
                <div id="Dirigent" class="Fields contentDirigent">
                    AQUI LO DIRIGENTES
                </div>
                <div id="MeasurementType" class="Fields contentMeasurementType">
                  AQUI LAS MEDIDAS
                </div>
              </div>
              <div class="Summary">
                <p>Resumen del hecho</p>
                <div class="containerSummary">
                  <textarea name="resumenSummary" class="resumenSummary"></textarea>
                  <div class="btnClear">Limpiar</div>
                </div>
              </div>
              <button class="btnSubmitRegister" type="submit">Registrar</button>
            </form>
          </div>
        </section>
        <!--SECCION PARA GREMIO-->
        <section class="RegisterGremio-Forms" id="R-Gremio">
          <div class="Content-FormMain">
            <form id="FormGremio" class="FormMainGremio" action="registrarGremio/" method="POST">
              {% csrf_token %}                
                <div class="Fields contentGremio">
                  <div >
                    <label for="nameGremio">Nombre del Gremio:</label>
                    <input 
                      type="text" 
                      id="nameGremio" 
                      name="nameGremio"
                      pattern="[A-Za-z\s]+" title="Solo se permiten letras" 
                      placeholder="Ingresa el nombre" 
                      required>
                    <label for="rucGremio">Ruc Gremio:</label>
                    <input 
                      type="text"
                      id="rucGremio" 
                      name="rucGremio" 
                      pattern="[0-9]*" maxlength="11" minlength="11" 
                      title="El número debe tener como máximo 8 dígitos" 
                      placeholder="Ingresa el ruc"
                      >
                  </div>
                  <div>
                    <label for="secretarioGeneral">Nombre Secretario General:</label>
                    <input 
                      type="text" 
                      id="secretarioGeneral" 
                      name="secretarioGeneral"
                      pattern="[A-Za-z\s]+" title="Solo se permiten letras"
                      placeholder="Ingresa el nombre"
                      required>
                    <label for="dniSecretarioGeneral">DNI Secretario General:</label>
                    <input 
                      type="text" 
                      id="dniSecretarioGeneral" 
                      name="dniSecretarioGeneral" 
                      pattern="[0-9]*" maxlength="8" minlength="8" 
                      title="El número debe tener como máximo 8 dígitos" 
                      placeholder="Ingresa el DNI"
                      >
                  </div>
                  <div>
                    <label for="dirigente">Nombre Dirigente:</label>
                    <input 
                      type="text" 
                      id="dirigente" 
                      name="dirigente"
                      pattern="[A-Za-z\s]+" title="Solo se permiten letras"
                      placeholder="Ingresa el nombre"
                      required>
                    <label for="dniDirigente">DNI Secretario General:</label>
                    <input 
                      type="text" 
                      id="dniDirigente" 
                      name="dniDirigente" 
                      pattern="[0-9]*" maxlength="8" minlength="8" 
                      title="El número debe tener como máximo 8 dígitos" 
                      placeholder="Ingresa el DNI"
                      >
                  </div>
                  <div>
                    <label for="presidente">Nombre Dirigente:</label>
                    <input 
                      type="text" 
                      id="presidente" 
                      name="presidente"
                      pattern="[A-Za-z\s]+" title="Solo se permiten letras"
                      placeholder="Ingresa el nombre"
                      required>
                    <label for="dniPresidente">DNI Secretario General:</label>
                    <input 
                      type="text" 
                      id="dniPresidente" 
                      name="dniPresidente" 
                      pattern="[0-9]*" maxlength="8" minlength="8" 
                      title="El número debe tener como máximo 8 dígitos" 
                      placeholder="Ingresa el DNI"
                      >
                  </div>
                </div>
                <button class="btnSubmitRegister" type="submit">Registrar</button>
            </form>
          </div>
        </section>
        <!--SECCION PARA PERSONA-->
        <section class="RegisterPerson-Forms" id="R-Person">
          <div class="Content-FormMain">
            <form class="FormMain" action="registrar/" method="POST">
                <div class="Fields contentPerson">
                </div>
              <div class="Summary">
                <p>Resumen del hecho</p>
                <div class="containerSummary">
                  <textarea name="resumenSummary" class="resumenSummary"></textarea>
                  <div class="btnClear">Limpiar</div>
                </div>
              </div>
              <button class="btnSubmitRegister" type="submit">Registrar</button>
            </form>
          </div>
        </section>
        <!--SECCION PARA CUADROS-->
        <section class="RegisterCuadros-Forms" id="R-Cuadros">
          <div class="Content-FormMain">
            <form class="FormMain" action="registrar/" method="POST">
                <div class="Fields contentCuadros">
                </div>
              <div class="Summary">
                <p>Resumen del hecho</p>
                <div class="containerSummary">
                  <textarea name="resumenSummary" class="resumenSummary"></textarea>
                  <div class="btnClear">Limpiar</div>
                </div>
              </div>
              <button class="btnSubmitRegister" type="submit">Registrar</button>
            </form>
          </div>
        </section>
      </div>
      <!-- Mensajes para registros -->
      <div id="message_success" class="alert alert-success message_alert hide">
      </div>
      <div id="alert-danger" class="alert alert-danger message_alert hide">
      </div>
        
  </main>
{% endblock %}